[2015-07-12 13:04] stuartcryan opened #1 "Store username in config or keychain"
To avoid having to edit the workflow after each upgrade, add functionality to store said configuration in either a config file or (preferably) in the Keychain for security.

[2015-07-19 13:53] kbecker87 opened #2 "Does not work although it says „logged in sucessfully“"
Hi! I installed the workflow according to your instructions (Homebrew etc) and when I now try to log in it says it is logged in successfully – but I can’t acces my vault… I do use 2-Factor auth for lastpass, could this be a problem?

![problem](https://cloud.githubusercontent.com/assets/8436596/8766189/39c1cc72-2e2e-11e5-98f6-5178acaf2d7c.png)

[2015-07-19 14:00] #2 closed

[2015-07-20 00:57] stuartcryan commented on #2
Hi KBecker87 just wanting to check as you closed this issue that you were able to resolve it?
Kind Regards,
Stuart

[2015-07-20 13:27] kbecker87 commented on #2
Hi Stuart, thanks for your intrest! I downloaded the Workflow again and after that it worked 😊 Had to be an error somewhere in there… Thanks again for the workflow!

Karl

[2015-07-23 15:09] kitze opened #3 "Login problem"
<img width="697" alt="screen shot 2015-07-23 at 17 56 25" src="https://cloud.githubusercontent.com/assets/1160594/8853629/37f41d26-3164-11e5-8186-fb29fba41d9a.png">
I've edited the workflow and the terminal says that i'm logged in but the app says that i'm not. What can i do?

[2015-07-24 11:43] stuartcryan commented on #3
Hi Kitze,
Hmm that is really quite unusual. Can you please open up the Alfred workflow configuration panel, click on the Lastpass workflow, turn on debugging (and set it to All information) then output the results here (please make sure to redact any private information from what you paste in here). I am guessing you are getting an error but the question is... why... (there must be an unhandled ex

[2015-07-24 15:09] kitze commented on #3
Huh, suddenly it works now, i don't know how. But nothing happens when i press enter on an selected item, no matter if it is a secure note or a password. Should it copy the pass or note to my clipboard?

[2015-07-25 03:04] stuartcryan commented on #3
Hi Kitze,
That is REALLY strange, any chance you would be open to me doing a Teamviewer remote session with you to have a look for myself?
Cheers,
Stuart

[2015-07-25 20:55] kitze commented on #3
Yeah sure, i'll setup few fake passwords and notes so you can take a look. My skype id is kristijan.mkd, add me there and we'll setup a session.

[2015-08-08 23:41] stuartcryan opened #6 "Add hotkeys to load workflow"
Add in Hotkeys to trigger the workflow.

[2015-08-09 00:20] stuartcryan opened #7 "Store timeout in keychain"
The timeout should be secure and stored across upgrades, therefore implement a setting to allow setting a different timeout.

If no timeout is set, use the default of 28800

[2015-08-09 00:36] stuartcryan commented on #1
Doneskies :D just run 'lpsetemail'

[2015-08-09 00:36] #1 closed

[2015-08-09 00:36] stuartcryan commented on #6
This has been completed and will be released with v1.1

[2015-08-09 00:36] #6 closed

[2015-08-09 00:36] stuartcryan commented on #7
This has been completed, use 'lpsettimeout'

[2015-08-09 00:36] #7 closed

[2015-08-16 21:11] perks commented on #3
Hey, I am getting the same error as above:

Below is the debugging information logged from doing lplogin -> lp [search]

[code]

[2015-08-18 05:31] stuartcryan commented on #3
Hi Perks, HMMM that is interesting, I will have a play with your fix and may potentially look at doing it straight in perl instead.

Thanks for the heads up, (and the extended testing) I will do some internal testing and get back to you.

[2015-08-18 05:38] stuartcryan commented on #3
Hi Perks, That file is actually no longer used (at all) by the workflow, I had forgotten to remove it when it was deprecated so it *shouldn't* have been causing issues.

I have put together a beta version here https://dl.dropboxusercontent.com/u/9093155/alfred-workflows/stuartcryan-lastpass-cli/LastPassCLI_1.2.1_beta.alfredworkflow are you possibly able to give that a whirl please?

Note as this i

[2015-08-18 17:47] perks commented on #3
Hey Stuart,

Thanks for the beta workflow, I gave it some very cursory use and here's what I came up with:

Booting up Alfred and doing lplogin -> lpsearch seemed to work great. I noticed that the beta doesn't do any caching to file (live parses output I guess) so maybe the problem was over in there?

Or it could have been related to this bug I found. If you do 'lplogout' and then relogin again, i

[2015-08-19 08:51] stuartcryan commented on #3
Hi Perks,
That is very interesting, I have worked on a new beta version (not yet committed to the public repo) that is currently in testing by someone else, can you please give this a try.

https://dl.dropboxusercontent.com/u/9093155/alfred-workflows/stuartcryan-lastpass-cli/LastPassCLI_1.2.2_beta_sync_speed.alfredworkflow

It works around the issue by forcing a sync to be performed after logging

[2015-08-19 08:52] stuartcryan opened #8 "Investigate background syncing"
Investigate if background syncing can be used to improve performance further at all.

[2015-08-25 18:26] chadkouse opened #9 "Possible to launch the url to a website and have it auto-login?"
Like clicking the "launch" button in the lastpass app

[2015-08-25 20:49] stuartcryan commented on #9
Hi Chad,
That is indeed doable and I will have a look at it, after it launches would you still want it to copy the password to the clipboard or are you looking to have this as a completely separate function? (Just wanting to get your thoughts on how it should work end to end).

Cheers,
Stuart

[2015-08-25 20:51] chadkouse commented on #9
I’m fine with it not copying to the clipboard. In fact leaving whatever I
currently have on the clipboard there would be great :)

On Tue, Aug 25, 2015, 4:49 PM Stuart Ryan <notifications@github.com> wrote:

--

--chad

[2015-08-25 20:58] stuartcryan commented on #9
OK good to know, I will have a look at what options I have, whether a key modifier would work best or a new 'lpu' key command. Off the top of my head I am thinking possibly an 'lpu' command which just opens the URL, and then a control modifier for 'lp' that opens the URL and then copies the password.

Does that sound good to you?
Cheers,
Stuart

[2015-08-26 11:12] stuartcryan opened #10 "Report of incorrect behaviour after binary detection on login"
A user on the forums has reported an issue trying to do lplogin when the lastpass-cli binary is not installed.

For some reason this is not reporting back that the binary does not appear to be installed (as it used to).

Should be fixed in the next release.

[2015-08-26 11:14] stuartcryan commented on #3
Hi kitze and Perks,
Just checking in, has this been successfully resolved for you both in the new version?
Cheers,
Stuart

[2015-08-27 21:13] perks commented on #3
Hey Stuart,

The new update works great so far, so thanks! It seems that the login/logout thing is working a lot better. The only thing now is that sometimes the 'login' script doesn't execute in my shell properly (Using zsh with iterm 2.11 + alfred applescript for iterm), complaining of mismatched quotations or a "short lived session". However sometimes it does work, so I'll keep a look out for w

[2015-09-13 20:24] webjey opened #11 "Can't Login"
Once i try to login, terminal pop up and here's what i see:

SecKeychainSearchCopyNext: The specified item could not be found in the keychain.

For full text, see below:
==================

$ stty -echo

killall -9 lpass > /dev/null 2>&1
clear

login_email=`perl -e 'use strict; use warnings; my $emailAddress =\`security find-generic-password -w -s "alfred-lastpass-email-address"\`; chomp $emailAdd

[2015-09-13 23:33] stuartcryan commented on #11
Hi Webjey,
Just want to check... have you run:
lpsetemail your_email@example.com as per the setup documentation?

Cheers,
Stuart

[2015-09-18 03:37] stuartcryan opened #12 "Issue with searches containing more than one word"
(from http://www.alfredforum.com/topic/5630-lastpass-workflow-for-alfred-update-v12-released-august-21-2015/page-2#entry38992)

I've noticed an issue with searches containing more than one word?

edit: forgive me for linking the images like this, they look huge when linked thru the forum editor...

successful-search (password was copied) - http://i.imgur.com/h3v9ruC.png
not-found (expected) - http

[2015-09-18 03:38] stuartcryan opened #13 "Shameful shameful typo :D :D :D"
Raised in http://www.alfredforum.com/topic/5630-lastpass-workflow-for-alfred-update-v12-released-august-21-2015/page-2#entry38992

Also, a trivial typo I must report for the sake of perfection (by default)... - http://i.imgur.com/73L4nsj.png

Needs to be corrected :D

Workflow states "Search Laspass Vault"

[2015-09-27 23:10] bedge opened #14 "lpass segfault after passwd retreival"
Just installed everything, watched the video to make sure I did the right stuff.
Did an alfred lp lookup, hit enter to copy to clipboard, then examined my clipboard to see what was there.
Immediately after this I got the segfault dialog with the following. I realize this may be an lp cli bug, but I thought I'd start here as this is what I was testing when I saw it.

Process:               lpass [5

[2015-11-01 09:58] florisvanwoudenberg opened #15 "Acces denied when trying to login via commandline"
Hi,

I'm using zsh as shell and El Capitan as OS version.
When trying to login I get
[code]

[2015-12-10 22:11] danielb2 opened #16 "[bug]: shell scripts assume bash"
Should specify the shell to be bash in the shell scripts with `#!/bin/bash`
For those of us who run [other shells](http://fishshell.com/) lplogin etc is broken due to this.

[2015-12-15 11:21] gilesbutler commented on #16
I use ZSH, I presume this is related:
[code]

[2015-12-15 12:17] danielb2 commented on #16
@gilesbutler  I don't think so. Looks to me like `$lpass_exec` isn't being set:

[code]

[2015-12-15 12:42] gilesbutler commented on #16
Ah ok thanks @danielb2 any idea on how to set that?

[2015-12-15 13:39] danielb2 commented on #16
@gilesbutler not sure but it's not being set in the script. I think zsh is close enough to bash where there shouldn't be any syntax issues in setting it, but I don't have the context now

[2015-12-16 03:07] stuartcryan commented on #16
I will have a look at making this change to specify the shell properly (normally I always would but for some reason overlooked it in the context of scripts used in Alfred).

Also I will have a squiz at zsh and see if there is anything not working correctly and keep you all posted.

[2015-12-17 09:28] gilesbutler commented on #16
Thanks for your help @danielb2 and @stuartcryan

[2015-12-21 14:00] rezzz-dev opened #17 "Fails to build - however seems there's a fix"
Seems that the build does not work with only CLT installed - however seems that there's a fix within this issue possibly: https://github.com/Homebrew/homebrew/issues/46763

Any way to see if this can be merged in as a fix to get it working without have XCode installed?  Thanks!

[2015-12-21 23:03] stuartcryan commented on #17
Heya, do you mean the build of the LastPass binary itself? As that would be more the responsibility of the offical project https://github.com/lastpass/lastpass-cli but just want to be sure?

[2015-12-22 16:09] rezzz-dev commented on #17
No @stuartcryan -- in that issue link someone made a commit to the lastpass-alfred-workflow makefile in which checks to see XCode or CLT - https://github.com/kalbasit/lastpass-cli/commit/8e960f777f2edefb4e3f8ab331588e1a9c060367

However I see that's more on the lastpass-cli repo  and there's a commit there for it -- my mistake!

However I'm curious as to why when I run brew install lastpass-cli it

[2016-01-05 07:17] stuartcryan commented on #16
Hi Giles and Daniel,
I have been working on a rather large major update which I hope will fix this problem (and in fact should... as I have changed over to using AppleScript for the most part so should behave a bit better.

Just wanted to keep you in the loop, once a beta verison is ready I will post in here so that you can download, have a play and let me know if it has resolved the issues for yo

[2016-01-05 07:18] stuartcryan commented on #14
Hi Bedge,
Sincere apologies for the delay (I must have missed the notification that you have logged this).

Unfortunately that would be a bug with the CLI, however they are now up to 0.7.1 so I would suggest updating then giving it another try.

Please let me know how you go.
Cheers,
Stuart

[2016-01-05 07:19] stuartcryan commented on #15
Hi Floris,
Apologies for the delay in getting back to you. Could you please open up a terminal and post the output of the following command:
ls -ltrah /usr/local/bin/lpass

Cheers,
Stuart

[2016-01-05 07:20] stuartcryan commented on #13
Fixed in next beta.

[2016-01-05 07:20] #13 closed

[2016-01-05 07:22] stuartcryan commented on #3
Hi Perks,
I am working on a new version which changes how the login process works (which basically transitions to AppleScript rather than a pure bash script).

When the beta is ready I will let you know here as I am curious to see if it resolves your issue.
Kind Regards,
Stuart

[2016-01-05 07:23] stuartcryan commented on #17
Heya Rezzz,
That would be as the homebrew code relies on community submissions (as far as I was aware) so there is often a delay between a release and someone making a new brew for it.

Having said that, the latest version 0.7.1 is FINALLY available on HomeBrew, hence I am working on some updates that relied on some features released in that version.
Cheers,
Stuart

[2016-01-05 07:23] #17 closed

[2016-01-05 15:15] rezzz-dev commented on #17
:beers: @stuartcryan - I just looked at it this morning and noticed that the newer version was there. Installed and everything is working!

[2016-01-05 15:45] danielb2 commented on #16
sounds good ;)

[2016-01-06 18:08] gilesbutler commented on #16
Awesome stuff, thanks @stuartcryan

[2016-01-07 20:43] perks commented on #3
@stuartcryan sounds awesome, looking forward to it!

[2016-01-10 02:54] stuartcryan commented on #12
This is resolved in the current beta. Will close on release.

[2016-01-10 02:55] stuartcryan commented on #8
Implemented in latest beta.

[2016-01-10 02:59] stuartcryan commented on #3
Hi Guys,
Have a new beta version ready for testing with quite a few changes.

https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4_beta.alfredworkflow

Changes in this release:
1. Login process completely changed over to use AppleScript
2. Login password prompt now uses an AppleScript password prompt
3. Fix to allow you to search for words in any order
4. Other minor general tweaks
5. Ha

[2016-01-10 03:09] stuartcryan commented on #10
This was fixed in 1.2 - forgot to close off.

[2016-01-10 03:09] #10 closed

[2016-01-10 10:25] stuartcryan commented on #3
Forgot to mention (added to my last comment but adding here for good measure).

**PLEASE NOTE** I forgot to mention, this beta requires LastPass CLI v 0.7.1 or higher, it is not backwards compatible. This is due to a new feature that I worked with Bob from LastPass on to enable the use of an external scripting mechanism for getting the password. Note, for those security concerned, all that the ext

[2016-01-11 17:55] perks commented on #3
@stuartcryan Gave this a run yesterday, and everything works a lot cleaner!

Especially good is getting rid of the login system that opened a terminal session to do the login, moving to Applescript probably will solve a lot of the issues here involving `lplogin` problems  (I know before my zsh setup would react weirdly to it at times).

Also like the touch of adding email/logout time to the keycha

[2016-01-11 20:13] stuartcryan commented on #3
Hi Chris,
Thanks for that. I was so glad I could come up with that solution with the lastpass team to use any external script you wanted to handle the login process. It just makes it FAR FAR cleaner to work with.

Thank you for testing, I have one (possible) bug that I need to have a look at in regards to spaces in the path where alfredpreferences are saved and then all going well there I will loo

[2016-01-11 20:51] stuartcryan commented on #3
All righty minor update to 1.4.1 fixes said issue with spaces in the path.

If all goes OK with the few testers I have got in the next 24 hours... I think this one will be the next official release:

https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.1_beta.alfredworkflow

[2016-01-12 09:29] stuartcryan commented on #3
Annnd another one for you which was raised by a beta tester. This improves the way we handle things if you have not yet run lplogin. This actually could not be fixed until we had the new login system in place.

Basically, things should be a lot cleaner when you reboot your computer. For example if you attempt to run "lp xxx" before you are logged in, it will now correctly detect that you are not l

[2016-01-14 00:50] stuartcryan commented on #3
All righty all, new version officially released :) can be dowloaded from the main repository but the only difference in the binary is removing the word BETA from the description text :D

[2016-01-14 00:50] #3 closed

[2016-01-14 00:50] stuartcryan commented on #16
This has now been done and the new version is released :) this should no longer be an issue.

[2016-01-14 00:51] stuartcryan commented on #12
This is now resolved.

[2016-01-14 00:51] #12 closed

[2016-01-14 00:51] stuartcryan commented on #8
This is now released.

[2016-01-14 00:51] #8 closed

[2016-01-14 16:35] danielb2 commented on #16
@stuartcryan still having issues. I deleted the workflow from alfred and reinstalled it using the one in the [latest release zip file](https://github.com/stuartcryan/lastpass-alfred-workflow/archive/1.4.2.zip).

[code]

it's in the terminal command section of the workflow. what am I doing wrong?

[2016-01-14 16:37] danielb2 commented on #16
actually, it looks like the .workflow file didn't get updated to 1.4  and it's still 1.2 like I suspected (I just checked the git repo)

[2016-01-14 16:38] danielb2 commented on #16
![stuartcryan_lastpass-alfred-workflow](https://cloud.githubusercontent.com/assets/26678/12330471/33fb1d5e-ba9a-11e5-8829-df69762ddf50.png)

[2016-01-14 17:41] danielb2 commented on #16
out of curiosity, is there any way to get this workflow going without using that updated export? If there is, I couldn't find it.

[2016-01-14 20:28] stuartcryan commented on #16
Argggh totally my bad all.. I exported but somehow missed it from the update.. SO 1.4.3 has now been released at https://github.com/stuartcryan/lastpass-alfred-workflow/blob/master/lastpass-cli-alfred-workflow.alfredworkflow?raw=true

ANDDDDD as an apology (and because I had a stroke of genius in between). 1.4.3 fixes both the binary and also makes a change to make copying the password to the clip

[2016-01-14 20:34] danielb2 commented on #16
Now it works :) thanks!

[2016-01-14 20:34] #16 closed

[2016-01-14 20:36] stuartcryan commented on #16
Schweeeet :) glad to hear it... OK now that the emergency stuff is dealt with I can have a shower, breakfast and get ready to work :: #iFeelDumbThisMorning but hey...you all got an extra (and most awesome) additional feature so easy come easy go I guess.

Have a good one and please pop back and let me know your thoughts overall (tis nice to get feedback on the good, the bad, and the ugly).
Stu

[2016-01-14 21:41] gilesbutler commented on #16
Hey Stu,
Awesome work unfortunately for me though it gets stuck when I put my vault password in. It just keeps asking for my password over and over again. I'm pretty certain its the correct password as I logged out of LP and back in again and it works.

Any ideas?

Thanks

[2016-01-14 21:57] stuartcryan commented on #16
Hmm that is an odd one just in transit at the moment can you please log a new github issue and I will send you some things you can do to find the issue.
Cheers
Stuart

This has been sent from my iPhone, apologies for any brevity.

Stuart Ryan
BScDipInfTechProfPrac UTS, AACS
IT professional who employs exceptional leadership & interpersonal skills to inspire organisational innovation.
Connect on Li

[2016-01-14 22:18] gilesbutler opened #18 "Can't login to LastPass"
As mentioned in [issue 16](https://github.com/stuartcryan/lastpass-alfred-workflow/issues/16#issuecomment-171794256) - the workflow keeps asking for my vault password over and over again.

Password has been checked and is correct.

[2016-01-14 22:19] gilesbutler commented on #16
Thanks Stu, no rush!

The new issue is [here](https://github.com/stuartcryan/lastpass-alfred-workflow/issues/18).

[2016-01-14 22:24] stuartcryan commented on #18
All righty :)
Lets get to the bottom of this one.

In a terminal can you please execute:
`launchctl getenv LPASS_ASKPASS`
copy the value output of that (as that should be a script location). If that is empty then we have a problem (please let me know).

Next just run:
`cat <location from last command>`
Just to make sure that the script is in the right location and we dont have any missing errors.

[2016-01-14 22:41] stuartcryan commented on #18
oh also, I wouldn't put it past a special character in your password that may be causing us grief... I am keeping this in mind but if you have any characters including:
' " \ $ that would raise a red flag in my brain as well.

If that is the case perhaps you could prod me in private http://stuartryan.com/contact-me/ (without revealing any more of your password of course). I can then spend some tim

[2016-01-14 23:41] stuartcryan commented on #18
Hmm OK it doesn't seem to be that... just tried with this whopper and it worked OK:
%CF6u[[LvhPu#F-FH"'~`!@#$%^&*()_+-=\][{}|';:"/.,<>?Y_oIQmebyQ60c1~ih>OpDm$dr;T9Kb

[2016-01-15 12:54] gilesbutler commented on #18
Hey Stu, sorry for late reply, timezones! I'm currently in Chile.

Ok the output from ```export LPASS_ASKPASS="<locationyougot>" && lpass login <yourloginemail>``` is ```Error: Unable to retrieve password from askpass (no reply)```

It didn't popup anything but I saw outbound connection attempts to LastPass through my network monitor.

When I run ```which lpass``` I get ```/usr/local/bin/lpass```

[2016-01-15 22:39] stuartcryan commented on #18
Hmm OK,
how about
`cat <location from last command>`

I am wondering if something in the path is incorrect?
Cheers,
Stuart

[2016-01-16 00:04] gilesbutler commented on #18
Ok that outputs:
[code]

[2016-01-16 07:43] stuartcryan commented on #18
Howdy, OK that is good, but puzzling as that definitely means the first command should have worked.

Any chance we could do a screen share (say TeamViewer)? Depending on how long you are out of town for can do it when you get back? Otherwise can work out something with the TimeZones.
Cheers,
Stuart

[2016-01-17 14:25] gilesbutler commented on #18
Yep sounds good Stu. I'm back in Sydney in a few days so I'll drop you and email once I'm back up and running.

Cheers!

[2016-01-17 22:16] stuartcryan commented on #18
No worries at all, look forward to hearing from you.
Cheers,
Stuart

[2016-01-28 14:26] hanoii commented on #18
I am also struggling to login, always asking for my password. I do have 2fa enabled, could that be it?

[2016-01-28 14:40] hanoii opened #19 "Support for 2FA"
I don't think 2FA was thought for this integration, I don't even know if it was thought to be handled externally within lastpass-cli. It doesn't look like from a quick review on their code, but I could be mistaken. See lastpass/lastpass-cli#152

Wonder if you thoguht about this? I think this could be related to #18

[2016-01-28 14:59] hanoii commented on #19
See answer in the related issue on lastpass-cli, certainly possible it seems.

[2016-01-28 15:49] hanoii commented on #19
Well, just add a pull request that did the trick.

[2016-02-16 02:17] stuartcryan commented on #19
Hi Hanoii,
Another user seems to have found a temporary work around can you please try this:
https://twitter.com/ianstalk/status/699299474800246784

Cheers,
Stuart

[2016-02-16 02:17] stuartcryan commented on #18
Hi Hanoii and Giles,
Another user seems to have found a temporary work around can you please try this:
https://twitter.com/ianstalk/status/699299474800246784

Cheers,
Stuart

[2016-02-16 02:20] hanoii commented on #19
Well, yes, it works, my fix here is simply properly asking for the code.

[2016-02-16 02:23] stuartcryan commented on #19
Hi Hanoii,
No worries completely understand. I apologise I missed the notification with the pull request, I can now see it there, will look at getting that into the base code.
Cheers,
Stuart

[2016-02-16 21:04] gilesbutler commented on #18
Hey @stuartcryan yep that worked for me too :+1:

Thanks :)

[2016-02-24 02:49] #19 closed

[2016-02-24 02:54] stuartcryan commented on #18
Hi Giles,
New code provided by Hanoii, can you please have a go and see if this fixes it for you?
https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.4_beta.alfredworkflow

Cheers,
Stuart

[2016-02-24 03:26] gilesbutler commented on #18
:+1: Yep excellent, thanks working now for me @stuartcryan

Thanks for your help and continuing work on this, really appreciate the time and effort!

[2016-02-24 03:26] #18 closed

[2016-02-29 06:07] rootwork opened #21 "Update documentation to account for `lpsetemail`"
Great work on this!

One small note: The last step of the documentation, and the included video, describe the following--

There is no "Terminal Command" box, which initially confused me. But it looks like the `lpsetemail` command has now replaced the need to do that, right?

So just to make it less confusing, that last step should probably be removed, or changed to describe running that command.

[2016-03-04 22:14] tomkersten opened #22 "Copying password fails"
Being completely unfamiliar with Alfred workflows, I'm not really sure how to troubleshoot this...but I am not able to get the password to copy to my paste buffer. The username copies fine (using shift+return), but not the password.

Any thoughts? Or...what can I do to help troubleshoot it?

I have v0.8.1 of the lastpass-cli and Capture::Tiny v0.36 installed.

[2016-03-07 02:20] stuartcryan commented on #22
Hi Tom,
Can you please open up a terminal and type the following in order:

lpass ls (you will likely need to log in)
Grab one of the ID numbers then use it to run the following query:

lpass show --password -c 123456789...

Please let me know if that works and the password copies correctly to your clipboard.

Many thanks
Stuart

[2016-03-07 02:28] stuartcryan commented on #21
OOh well picked up!

Thank you for that I will update it in the next release.
Cheers,
Stuart

[2016-03-07 04:52] tomkersten commented on #22
Hey, @stuartcryan.

When I run that it _does_ copy fine to my clipboard. Anything else to check?

[2016-03-08 02:42] krokofant opened #23 "Trying to sync when not logged in"
Sometimes when I'm gonna use this workflow I have been logged off. I don't know why.

**But to the point.**
Because of this I just try to _lp apple_ to get my apple login but I'm not logged in.

The workflow then tries to sync and fetch the matched accounts but it cannot.

<img width="546" alt="Syncing" src="https://cloud.githubusercontent.com/assets/5908498/13590336/507a0a20-e4df-11e5-863e-3b84da

[2016-03-08 02:46] krokofant commented on #23
I tried to reproduce this by logging off and then _lp apple_ but then it clearly identifies me as logged off.

[2016-03-12 19:35] AlexPasternak opened #24 "lplogin no longer works with 2-factor auth"
This workflow worked fine for me in the past when it used to display Terminal window with inputs. Now that it shows dialog box prompts, it's stuck on the 2-factor auth code one. I know I'm putting in the correct code, but it keeps showing the box over and over again. Please fix so that I can login, otherwise it's not very useful obviously :-)

[2016-03-12 21:14] stuartcryan commented on #24
Hi Alex,
Can you please advise what form of two factor auth you are using?
Cheers,
Stuart

[2016-03-12 21:14] stuartcryan commented on #23
Hmmm I have seen this before but wasn't sure if I was just loosing my mind or was actually a problem.

I will have a look and see what I can come up with.
Cheers,
Stuart

[2016-03-12 22:26] krokofant commented on #23
Reproduce
[code]
wait 10 seconds
`lp github`

[2016-03-12 23:19] krokofant commented on #23
My idea is that this code
[code]
is running `lpass ls --sync=no` which when executed via Terminal (not Alfred) and you're not logged in prompts for the Master password, just like the one you have _passwordInput.osascript_. If executed in a Terminal the prompt displays correctly but when executed via the workflow (Alfred -> perl5.18 -> sh -> lpass) it doesn't display the prompt.

It then just lays

[2016-03-13 00:50] stuartcryan commented on #23
All righty :)

Done some work on this can you please give this a go https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.5_beta.alfredworkflow

Only caveat is that I currently haven't figured out a reliable way to test IF lastpass has timed out or not, which means I cant test for this, store what you have typed and re-load the search screen once you are logged in...

Let me know how this

[2016-03-13 01:38] krokofant commented on #23
That is much better then the previous version as you actually get somewhere.

Great! :)

[2016-03-13 02:26] stuartcryan commented on #24
Hi Alex,
Also forgot to ask, can you please advise what version of the CLI interface you have installed.

You can obtain this by running lpass --version in a terminal window.

Kind Regards,
Stuart

[2016-03-13 02:45] stuartcryan commented on #22
Hmm, OK can you please open up Alfred and go to the workflows tab.

Click through and select the LastPass CLI workflow, in the top right corner click on the little bug icon to enable the debug console.

Please then try to copy a password again and let me know if it outputs any error.

Also just to confirm a few more things:
1. Have you tried with several passwords, just want to make sure?
2. Has t

[2016-03-13 03:20] stuartcryan commented on #23
Hmmm, noted, let me work on it over the next week , the cancel should properly terminate it. Will keep you posted with another beta version as soon as I can.

[2016-03-15 01:03] tomkersten commented on #22
Great news. After running the Alfred update, it is all working perfectly now. Thanks so much for the response and handy utility. Nice work.

[2016-03-15 01:03] #22 closed

[2016-03-15 01:04] stuartcryan commented on #22
Howdy Tom,
Great to hear!
Cheers,
Stuart

[2016-03-18 03:07] stuartcryan commented on #23
All righty, can you please give this version a go https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.5_beta2.alfredworkflow

Major change is I have come up for a creative solution for actually testing if you are logged in or not, this is how I always intended this to be handled. So you can now kick it off using ctrl + enter to log in if you are not already.

This is not to say that I w

[2016-03-18 09:47] krokofant commented on #23
I like it. It looks alot better with the ctrl+enter to login. But the infinite loop is still there albeit with a little bit more time between the popups.

I.E. The cancel still does not work.

[2016-03-18 09:56] stuartcryan commented on #23
Awesome on the first front and *puzzled* on the second. I tested this numerous times on my system and it works as expected. I will do some more debugging and see what I can come up with.

[2016-03-18 10:02] stuartcryan commented on #23
All righty, how about this --> https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.5_beta3.alfredworkflow, the cancel now explicitly causes an abort (or at least it should) can you please give this a whirl and see how you go.

If it continues can you please capture the information from the "All Information" debug log on the workflow in Alfred and paste it here (just double check to make

[2016-03-18 10:04] stuartcryan commented on #23
Also, if it does continue, can you please confirm if you get the same loop on the "lplogin" command (I am assuming you would but would like to be sure).

[2016-03-18 19:01] krokofant commented on #23
Awesome! Now it works!

[2016-03-18 21:11] stuartcryan commented on #23
Excellent, glad we could get that fixed up. I will package it up and do a release shortly.

OOH and I always throw this at the end of my support tickets, if you love the workflow, my help etc it would be awesome if at some point you could donate towards getting me some cake and Diet Coke (haha it keeps me programming). Donations of course not required, only if you would like, love the workflow and

[2016-03-18 21:11] #23 closed

[2016-03-18 21:53] stuartcryan commented on #21
Howdy,
Good news, I have now updated the documentation, apologies for the confusion.

OOH and I always throw this at the end of my support tickets, if you love the workflow, my help etc it would be awesome if at some point you could donate towards getting me some cake and Diet Coke (haha it keeps me programming). Donations of course not required, only if you would like, love the workflow and have

[2016-03-18 21:53] #21 closed

[2016-03-18 22:00] stuartcryan commented on #24
Hi Alex,
I have just released a new version, can you please check this and see if you are still having issues?
Kind Regards,
Stuart

[2016-03-18 22:06] stuartcryan commented on #15
Hi Floris,
Just checking in, are you still having issues using the workflow?
Kind Regards,
Stuart

[2016-03-19 11:34] AlexPasternak commented on #24
@stuartcryan, sorry I missed your previous questions, I didn't see the notifications. I updated from:
[code]
Updated and installed new workflow and now I can see my password data. BUT I didn't even get a 2-factor auth prompt, why would that be? Is it because I'm logged in somewhere else on the system? It kind of seemed like 2-factor was actually bypassed.

To answer your other question, I currentl

[2016-03-19 23:34] stuartcryan commented on #24
Hi Alex,
No worries at all. Had you logged in successfully via command line (with lpass login ...) at any point and used 2FA, if you have that would be the reason it remembers you.

If this is not the case, I suggest you log in to your online account and remove all "remembered systems" so you can test just to be sure, otherwise it should ask you to re-auth when the last auth expires.

Please let m

[2016-03-20 00:50] AlexPasternak commented on #24
Oy, I don't know if I want to forget *all* the systems, that would be a pain. Just now it made me lplogin again, but again, master pw only, no code. I also tried explicitly lplogout, same deal. Let's assume it's fixed (lp search is definitely working, unlike before, w00t!), and I'll let you know if I get stuck when the auth expires, as you suggest. Thanks!

[2016-03-20 00:50] #24 closed

[2016-03-20 00:52] stuartcryan commented on #24
No worries at all, let me know if you have any further issues.

OOH and I always throw this at the end of my support tickets, if you love the workflow, my help etc it would be awesome if at some point you could donate towards getting me some cake and Diet Coke (haha it keeps me programming). Donations of course not required, only if you would like, love the workflow and have the means to do so.

h

[2016-03-23 17:41] mburchett2 opened #25 "Feature Request: Quick-Add Secure Notes/Sites"
I was showing a friend how cool this workflow is and the first thing he asked was if I could quickly add Secure Notes/Sites and unfortunately, I had to say no. Though I don't know if this is technically feasible or too difficult to implement. Here is the structure of the workflow that I am imagining:

Bring up Alfred > Type LP workflow keyword for "Quick Add" > Type in predefined note types, inclu

[2016-03-23 17:44] mburchett2 opened #26 "Feature Request: Quick Navigation to Site URL"
Looking for a quick way to pull URL info from a LastPass site note, which opens in your default browser. As discussed, the LastPass browser plugin would need to be installed, but should take care of the majority of work getting a user logged in.

[2016-03-23 17:50] mburchett2 opened #27 "Feature Request: Quick Add to Notes Field in a Password Entry"
I find myself wanting to add a note quickly to the Notes field of a particular password entry, often for clarification or usage of passwords in particular scenarios. The information must be appended to the note and not replace existing information, as there may be important points that need review before being edited or deleted.

[2016-03-23 17:56] mburchett2 opened #28 "Feature Request: Rename, Delete, or Move a Password Entry"
Often I find myself searching for a password that has been named incorrectly (per our own naming convention) and would like to quickly change the name of the entry to reflect a more uniform standard.

I also find that I would like to delete an old password entry or move it to a different folder/subfolder. Doing so would aid in managing legacy passwords, no longer in use and should not be in the da

[2016-03-23 17:59] mburchett2 opened #29 "Feature Request: Password Vault Auto-Sync"
It would be nice to have a way to specify intervals for the lpsync command to automatically sync in the background, say in 5, 10, 15, 30, and 60 minute intervals.

[2016-03-23 22:11] stuartcryan commented on #29
Howdy my good man,
Definitely noted, I will have a look at what I can do. In theory, this should not represent too much development work. However, the quirk will be how we deal with this when the session times out so that it does not re-prompt you to log in.
Cheers,
Stuart

[2016-03-23 22:12] stuartcryan commented on #28
Howdy my good man,
Definitely noted, I have been avoiding any sort of data entry mechanism because that comes with a level of risk when we do data changes. It would also be a large amount of work to design, and implement.

However, I will keep this in mind and see what might be possible.
Cheers,
Stuart

[2016-03-23 22:12] stuartcryan commented on #27
Howdy my good man,
Definitely noted, I have been avoiding any sort of data entry mechanism because that comes with a level of risk when we do data changes. It would also be a large amount of work to design, and implement.

However, I will keep this in mind and see what might be possible.
Cheers,
Stuart

[2016-03-23 22:13] stuartcryan commented on #26
Howdy my good man,
This should be relatively simple to achieve (famous last words).

Will see what I can do about making this happen in the short-term.
Cheers,
Stuart

[2016-03-23 22:13] stuartcryan commented on #25
Howdy my good man,
Definitely noted, I have been avoiding any sort of data entry mechanism because that comes with a level of risk when we do data changes. It would also be a large amount of work to design, and implement.

However, I will keep this in mind and see what might be possible.
Cheers,
Stuart

[2016-03-23 22:19] stuartcryan opened #30 "Updated LastPass branding icons to latest versions"
LastPass has upgraded their icon and branding. The workflow needs to be brought back into line with this.

Will double check the original authorisation for using the LastPass IP in the workflow to see if it will carry across, or requires additional authorisation.

[2016-03-26 20:38] leopic opened #31 "Feature Request: Display username for matches with more than one entry"
First of all, thank you for going through the trouble of doing this, this is awesome.

I often have more than one account per site/service that I use, so the default search results from official client and the Chrome extension are super handy, as they'll display both the site and username, so I can pick the one I'm looking for.

An example

Workflow
<img width="713" alt="screen shot 2016-03-26 at

[2016-05-18 14:08] RowanKaag opened #33 "Workflow doesn't log in to Lastpass"
**lp a**
[code]
**lplogin**
[code]
**lpass cli**
[code]

I'm supposing it has something to do with OS X 10.11.5 and/or Alfred 3.
Didn't have problems with the 'scriptlocationnotset' before.

[2016-05-19 18:05] colbyfayock commented on #33
@stuartcryan this is fixed updating Alfred 2 to Alfred 3, for Alfred 3 users in here:

<img width="569" alt="screen shot on 2016-05-19 at 14-03-49" src="https://cloud.githubusercontent.com/assets/1045274/15404244/9201c63a-1dca-11e6-9e70-1ab48a6f3b16.png">

Was thinking of doing a PR, but no idea how to compile Alfred workflows or how to handle using either version in there :)

[2016-05-19 21:55] RowanKaag commented on #33
@colbyfayock what did you do to fix it? I'm rather dependend on this workflow 😳

[2016-05-19 22:34] stuartcryan commented on #33
Hi All,
Colby, thanks for pointing that out, can you both please test this new beta version. And ensure it resolves the issue.

Download from: https://dl.dropboxusercontent.com/u/9093155/LastPass%20CLI_1.4.6_beta1.alfredworkflow

Once you have confirmed I will prepare a cross compatible version and then update it.
Cheers,
Stuart

[2016-05-19 22:36] stuartcryan commented on #31
Hi Leo,
Sorry for the delay on this, it has been a crazy semester with uni. I will look at GMQ's submission in the next few days (I hope), if all works will pull it into the main branch.
Cheers,
Stuart

[2016-05-20 14:56] colbyfayock commented on #33
Yup, that does the trick. Thanks :D

[2016-05-20 19:13] RowanKaag commented on #33
Did the trick indeed!

[2016-05-21 02:21] leopic commented on #31
Don't worry, this was a feature request, not a PR, no need to be sorry.

So glad that @gmq went ahead and did it.

Thank you guys

[2016-05-21 05:21] zlanich commented on #33
That worked!

[2016-05-21 05:23] zlanich commented on #26
+1 for the Auto-Launch Login URL workflow

[2016-05-21 16:09] johnnypea commented on #33
+1

[2016-06-02 09:51] roelleor opened #34 "copy of username and password fails"
First of all, thank you so much for this superb workflow, I love it!
For some reason copying is failing now. It is logging in and syncing just fine. I'm using the most recent version of alfred 3. I am using v1.4.6_beta1 of the workflow.
I'm getting the following error:
[2016-06-02 11:44:11][ERROR: action.script] Error: Unable to retrieve password from askpass (no reply)

[2016-06-03 08:04] roelleor commented on #34
I found out this only happens when an entity is set to require the master password. I'm closing this issue. However, it would be a nice to have feature that a the master password would be requested in this instance.

[2016-06-03 08:04] #34 closed

[2016-06-11 18:04] timshutes commented on #33
Any update on this? Still broken on Mac - no login

[2016-06-11 21:08] colbyfayock commented on #33
@timshutes did you try the solution he provided above?

[2016-06-11 21:47] timshutes commented on #33
the beta version is - but there is still no fix for the cross-compatible version

[2016-06-21 13:35] joey-postma commented on #33
I was getting the same error:
[ERROR: action.script] 2845:2846: syntax error: Expected end of line but found “"”. (-2741)

I tried the beta version but now I get another error:
[ERROR: action.script] 2637:2649: execution error: The variable lpass_binary is not defined. (-2753)

I followed every step in the documentation: http://www.packal.org/workflow/lastpass-cli-workflow-alfred

However when I g

[2016-07-06 00:59] stuartcryan commented on #31
And this has now been merged in... releasing in 3... 2... 1...

Sorry for the delay all, university was extremely intense for me this semester and had to take priority.

[2016-07-06 00:59] #31 closed

[2016-07-06 01:04] stuartcryan commented on #33
Ladies and gentlemen... this has now been fixed and merged in and is now released.

I sincerely apologise for the delay... my masters course at university was extremely intense for me this semester and had to take priority.

@joey-postma please try the new version out... if there are any issues please log a new issue.

[2016-07-06 01:04] #33 closed

[2016-07-23 19:51] rralian opened #35 "Remove password from history"
Just a quick question because I didn't see this addressed. Is there anything in this that will remove the password from the clipboard history after some amount of time? I'd like to have the ease of working with it, say for a minute or two after copying, but don't necessarily want my password sticking around for long after that.

[2016-07-27 02:49] thiagocmoraes opened #36 "How to commit my change on one of the Perl scripts?"
Sorry about being kinda lazy, but this is my first attempt modifying an Alfred Workflow and trying to use Perl at the same time.

I want to send print the "notes" from a password in subtitle field when doing a search using this workflow like in the image below.
<img width="584" alt="screenshot 2016-07-26 23 36 37" src="https://cloud.githubusercontent.com/assets/592084/17162204/78f50abc-538a-11e6-8

[2016-08-03 19:01] tconroy commented on #35
👍 to this, would also like to see this feature.

[2016-08-16 20:52] tconroy commented on #30
Hi @stuartcryan, I opened a PR to update the icon. Thanks for this great workflow!

[2016-08-19 09:00] stuartcryan commented on #30
Howdy, thanks so much I will try to get this pushed in this weekend, I have a couple of other things I would like to fix up.

Thanks for coding it up!

[2016-08-19 09:02] stuartcryan commented on #35
Howdy,
I have been thinking about this for a while, I believe in the new version of Alfred, I should be able to do this with a new hook in the workflow.

I will see what I can pull together this weekend and see if/how this impacts performance (if it is too much, will provide an option to do so, despite the performance hit).
Cheers,
Stuart

[2016-08-19 09:05] stuartcryan commented on #36
Howdy :) thank you for the idea (and apologies for the delay).

I will have a look and see if there is any way I can do this, the code looks good, however my only concern would be that this would replace the username that is output in the current version (which I know a lot of people find useful).

May I ask what the particular usecase is, i.e. are these only for displaying the contents of a secur

[2016-08-19 10:27] #30 closed

[2016-08-19 10:54] stuartcryan commented on #30
Awesome... merged in, will be pushing out a new version this weekend :)

[2016-08-19 11:20] stuartcryan commented on #35
All righty, this has been coded, turned out to be pretty painless! To be released very shortly!

[2016-08-19 11:20] #35 closed

[2016-08-19 14:07] tconroy commented on #35
awesome, thanks @stuartcryan!

[2016-08-19 14:08] tconroy commented on #30
Glad to help! Enjoy the weekend. 👍

[2016-08-21 00:17] thiagocmoraes commented on #36
Oh wow, I'm using the 1.4.6_beta1 and didn't see the feature about printing the user. This is indeed useful.

About my change, I did it because sometimes a have websites where I need to check a note to choose which entry I should use. I'll see the change about the username, that's probably better for the general use, indeed.

Maybe we could open use left arrow to open the note content in a similar

[2016-08-21 01:06] thiagocmoraes commented on #36
Actually, let me re-phrase the last comment: I want a quick way to access the notes, because it's common to have important information stored together with a password. I will think if there's a better way of doing it, but if you have ideas, I may be up to implement them.

[2017-06-27 07:17] odedpriva opened #40 "getting the 'master password' window over and over again"
Hi,
I'm unable to login ( getting the 'master password' window over and over again )

I followed the installation instructions,

at first I thought it might be related to the MFA ( does the workflow login support MFA with google auth ? ) , but I'm getting the same error even after disabling it.

This is the result I got when installing the Capture::Tiny, can it be related?
[code]

[2017-07-10 08:31] johnolos commented on #40
The alfred-workflow essentially uses the lastpass-cli.

Try login from the terminal manually? I know it remembers your MFA.

[2017-07-29 14:02] jgogstad opened #41 "Login doesn't work if it plugin got synced through Alfred's workflow sync"
To reproduce
1. Configure alfred to use a sync directory (like a dropbox folder or something similar)
2. Install the plugin and make sure it works
3. Install alfred on another mac and let it sync this plugin through the sync directory (alternatively wipe your drive and reinstall macOS)

The plugin will let you do `lpsetemail`, but `lplogin` fails with error message "Unable to retrieve password fro

[2017-10-12 21:51] richardpeng commented on #9
I'd love to see this feature happen!

[2017-11-07 13:29] jasalt opened #43 "Problem with lastpass-cli installation causing `lpbinary missing` error on El Capitan"
I wasn't able to install lastpass-cli as per README.md because of `python2` missing.

Managed to workaround it by symlinking Homebrew installed python2 version sudo ln -s $(which python2) /usr/bin/python2 before running `brew install lastpass-cli --with-pinentry`. The `--with-doc` is seemingly deprecated and script doesn't care about it when it's used.

First I had to disable SIP by booting recove

[2018-02-21 21:51] totlez opened #45 "Issue with Lastpass workflow"
Hi I am having issues installing this workflow. Thank you for your work with this!!

I followed this:

Ensure you have Alfred installed with the Alfred Powerpack License
Install Capture::Tiny
Open up a Terminal Window
run the command 'sudo cpan install Capture::Tiny'
Accept the default options and ensure Capture::Tiny installs successfully
Install Homebrew (if you do not have it already installed)

[2018-02-24 02:34] stuartcryan commented on #43
Thanks for the heads up. I will keep an eye on that, would prefer it gets resolved in the lastpass-cli tool as that saves having to work around it.

Appreciate the report!

[2018-02-24 02:34] #43 closed, assigned to nobody

[2018-02-24 02:36] stuartcryan commented on #45
Hi @totlez,
Can you possibly open up the workflow folder please and make sure the *.pl and *.applescript files are executable.

I have seen a couple of cases recently where (after syncing) the scripts don't have the executable bit copied over, this stops things from working.
Please let me know how you go.
Cheers,
Stuart

[2018-02-24 02:38] stuartcryan commented on #41
Hi @jgogstad,
Thanks for the report, I am having a look at how I can best handle this at the moment, it has to do with the sync not copying the executable bit across. This relies on whatever tool you use for syncing respecting the need to copy the executable permissions, and I am finding a lot of them don't.

I am reviewing how best I can tackle this within best practice (short of running a chmod

[2018-02-24 02:39] stuartcryan commented on #40
Hi @odedpriva,
If Tiny::Capture isn't installed, this could definitely result in an issue, can you please try updating homebrew and trying again. Apologies for the delayed response, this truly is best effort when I get some time to sit down and spend time on it.
Cheers,
Stuart

[2018-02-24 08:12] odedpriva commented on #40
now it seems to work .

thanks.

[2018-02-24 09:39] stuartcryan commented on #40
Great to hear!

[2018-02-24 09:39] #40 closed, assigned to nobody

[2018-02-26 15:33] totlez commented on #45
Hello,
Is the workflow folder located where the preferences section is for the lastpass-alfred workflow in alfred? I went to Lastpass CLI, and I clicked on the “Run Scripts” I.E /usr/bin/osascript.
Is this what you wanted me to check?

[2018-02-26 15:37] totlez commented on #45
Okay I went to the lastpass-alfred-workflow-master folder --> went to workflow --> and clicked on applescript.scpt and info.plist.

The file opens and I see code. nothing else happens though

[2018-02-28 21:11] stuartcryan opened #47 "Implement Auto Updater Functionality"
Implement Auto Updater Functionality to match the Google Maps and Apple Maps flow. This will make future maintenance easier for users.

[2018-02-28 21:12] stuartcryan opened #48 "Externalise scripts as much as possible"
This will make operating on the scripts more easily, for example move all perl code to external .pl files.

[2018-02-28 21:13] stuartcryan opened #49 "Consider moving login email to Alfred Preferences"
This requires some thought as there may be some security concerns. One to ponder.

[2018-02-28 21:14] stuartcryan opened #50 "Provide workflow configuration parameters for relevant settings"
List: TBA

[2018-03-06 00:36] totlez commented on #45
Hello, whenever you have time, let me know what I can do to get this to work. I would love to use your script.

[2018-06-16 00:23] chalupagrande opened #51 "Password doesn't copy if password requires Master Password re-prompt"
There are some passwords that I have the require a re-prompt of my master password. I've notices that these passwords do not get copied to my clipboard when using alfred. There is also no password re-prompt through alfred.

[2018-10-10 17:15] steveoh opened #52 "trouble logging in since mojave"
has anyone noticed anything odd since updating their os?

lplogin shows popup but it sometimes takes 30 seconds
after logging in it does not seem to ever authenticate

[2018-10-10 17:20] carceneaux commented on #52
At some point, I did have to clear my Alfred cache after upgrading to Mojave but I haven't seen issues since.

https://www.alfredapp.com/help/advanced/#rebuild

[2018-10-10 22:02] cadnza commented on #52
Same thing here; reloading the cache didn't fix it. Here's what the debugger says:
[code]

[2018-10-11 15:21] steveoh commented on #52
and another error message after typing in password

`[ERROR: action.script] 2465:2767: execution error: Error: Couldn't resolve host name. (1)`

try again

`[ERROR: action.script] 2465:2767: execution error: /bin/bash: line 1:  3603 Segmentation fault: 11  /usr/local/bin/lpass login --trust "my@email.address" (139)`

looks like an issue in [lastpass-cli](https://github.com/lastpass/lastpass-cli).

[2018-10-11 15:33] carceneaux commented on #52
LOL, well the scripts are open source so you see what's going down. I'd hope that you would've read those scripts prior to using an open-source utility to access your LassPass account.

Here are some ideas:

* After Mojave, there were some new security permissions I had to grant Alfred.
* The scripts are simply leveraging LastPass CLI. Have you tried taking Alfred out of the equation to see if Las

[2018-10-31 13:12] carceneaux commented on #52
Since my last post, I've rebooted my mac a number of times. I've noticed that following a reboot, I have to perform the following procedure to be able to log back in to LastPass:

1. Sync LastPass Vault (lpsync)
2. LastPass Login (lplogin)

For whatever reason, if I don't sync the LastPass Vault prior to logging in, I'm never logged in. Even with using the correct credentials.

Hope this helps som

[2018-11-01 14:54] steveoh commented on #52
the last pass cli just updated. I think that is making this workflow more stable. Sorry for the upstream issue.

[2018-11-01 14:54] #52 closed, assigned to nobody

[2018-11-29 12:50] windmark opened #53 "Errors when logging in - works after 5+ tries"
Hi,

First of all thanks for a great plugin, very handy! I have used it for a long time now and it has been working great up until around a week ago. Suddenly I started having a huge issue logging in with the errors below as examples, where each error represents a try to login. I'm using 2FA authentication via Yubikey if that's relevant.

Does anyone else experience the same thing?

[code]

[2019-01-23 19:02] vlom31 commented on #53
I have the same issue, it just stopped working, even when I manage to log it after many tries, the search gives me "you're not logged in .."

[2019-01-24 19:56] AnthoPakPak commented on #53
I also got `[ERROR: action.script] 2465:2767: execution error: Error: Unable to retrieve password from askpass (no reply) (1)` but even with multiple tries it doesn't seemed to work.

[2019-01-25 13:06] carceneaux commented on #53
I haven't been having issues. I'll say, though, that I use MFA but with the Google Authenticator.

Has anyone ruled out LastPass CLI being the issue?

[2019-02-02 19:45] stuartcryan commented on #53
Howdy all
Can you please make sure the scripts in the workflow directory are executable (in a terminal chmod a+x <scriptname> specifically both applescript.scpt and passwordInput.osascript and let me know how that goes?
Cheers,
Stuart

[2019-02-21 12:35] diegosantamarta opened #54 "It appears you are not logged in to Lastpass."
I put my login credentials but when I try to search hace this error:

![captura de pantalla 2019-02-21 a las 12 33 26](https://user-images.githubusercontent.com/5568907/53169413-0fbf1d00-35d5-11e9-8a10-209385481a1d.png)

The debug output on Alfred with All information is:

[code]

Thanks in advance
Diego

[2019-05-30 01:15] parceritaz commented on #54
I'm getting the same error, tried multiples times and no dice. I'm on version 4 of Alfred so maybe that's why...?

[2019-06-01 01:37] stuartcryan commented on #54
Howdy, out of curiosity, I want to confirm, you have put your login credentials with 'lpsetemail', have you also then run 'lplogin'?

If so, when you open up a terminal session in MacOS and type 'lpass status' does it say you are logged in or logged out?
Cheers,
Stuart

[2019-06-01 01:45] stuartcryan commented on #53
With that in mind, did that resolve the issue for you (I have often seen this occur after syncing the directory somewhere)

[2019-06-02 00:25] probablykasper commented on #54
Debug output from running `lplogin`:
[code]

[2019-06-02 03:22] juandaco commented on #54
I was having this same issue. You just need to replace in the osascript block that comes out of `lplogin`, `Alfred 3` for `Alfred 4`. The window prompting you for your master password appears after that and everything is working as it should.

[2019-06-02 09:22] probablykasper commented on #54
@juandaco Tried this, and it seems to have fixed one issue, but `lplogin` still gives an error:
[code]

[2019-06-02 09:35] probablykasper commented on #54
@juandaco Nevermind, I installed the workflow wrong. Works like a charm now

[2019-06-05 16:05] CaiQuantum opened #55 "Compatibility with Alfred 4"
Now that Alfred 4 is out, the script for 'lplogin' keyword should take into account fo Alfred 4 users. At the moment it will only work with Alfred 4 if I manually change the 'Alfred 3' inside the script to 'Alfred 4'.

[2019-06-13 10:39] sublime392 commented on #55
btw, I have submitted a pull request to that works with either Alfred 3 or Alfred 4.

[2019-06-13 11:26] carceneaux commented on #55
Thanks @sublime392! Next week I was planning on upgrading and writing out the code myself. Thanks for contributing!

[2019-07-11 13:28] tshaiman commented on #33
Alfred version 4 with LastPass v1.4.7 still has this issue **as of July 2019 :**

[16:27:26.562] LastPass CLI[Keyword] Processing complete
[16:27:26.562] LastPass CLI[Keyword] Passing output 'tshaiman@outlook.com' to Run Script
[16:27:26.664] LastPass CLI[Run Script] Processing complete
[16:27:26.667] LastPass CLI[Run Script] Passing output 'tshaiman@outlook.com
' to Post Notification
[16:27:31.93

[2019-08-01 20:54] yogipatel5 commented on #33
@tshaiman Having another issues.. but similar ending. You seem to be getting farther than I am.

[16:51:38.119] LastPass CLI[Keyword] Processing complete
[16:51:38.121] LastPass CLI[Keyword] Passing output '' to Run Script
[16:51:38.319] ERROR: LastPass CLI[Run Script] 2843:2844: syntax error: Expected end of line but found “"”. (-2741)

[2019-08-03 07:58] mactkg commented on #55
🔜 #56

[2019-08-03 10:56] juniuspan opened #57 "Workaround for pop-up disfunction when trying lplogin(FYI)"
Hi, everyone!

Here is my problem.
When trying lplogin, the password input window doesn't pop-up, debugging info shows:

[18:04:38.895] LastPass CLI[Keyword] Processing complete
[18:04:38.897] LastPass CLI[Keyword] Passing output '' to Run Script
[18:04:40.579] ERROR: LastPass CLI[Run Script] 2465:2767: execution error: Error: Unable to retrieve password from askpass (no reply) (1)

After confirmi

[2019-08-16 21:24] stacksjb commented on #54
Thanks, I had the same issue, working now.

[2019-08-27 12:07] benjamin74 opened #58 "invalid option: --with-pinentry and also --with-doc"
Hello,

the installation is buggy, there is no more --with-pinentry and --with-doc install parameters so adding these 2 parameters make the LP install fail (and the rest won't work either).

Installation manual should read:

brew install lastpass-cli

and not

brew install lastpass-cli --with-pinentry --with-doc

[2019-09-07 03:47] squatto commented on #54
For those that are coming to this issue looking for a solution, I wanted to put it as the last comment to make it easier to find. Once #56 is merged this will no longer be an issue, but until that happens, you can easily fix it yourself by doing the following:

1. Open Alfred Preferences and go to "Workflows" in the left nav menu
2. Select the "LastPass CLI" workflow
3. Double click the top workfl

[2019-10-10 15:16] itsjeevs opened #60 "Can't login"
Using Alfred 4, installed Capture::Tiny and LastPass CLI v1.3.3.GIT. When trying to login using lplogin, the error logged as
`[09:50:58.892] Logging Started...
[09:51:05.441] LastPass CLI[Keyword] Processing complete
[09:51:05.443] LastPass CLI[Keyword] Passing output '' to Run Script
[09:51:05.642] ERROR: LastPass CLI[Run Script] 2845:2846: syntax error: Expected end of line but found “"”. (-2741

[2019-10-10 19:17] itsjeevs commented on #60
This was due to multiple issues.

1. Since my lpass was not installed to the standard lib locations(was in ~/bin), I had to add a soft link to /usr/local/bin/lpass --> ~/bin/lpass
2. In Run Script file, I had to change from Alfred 3 to Alfred 4.
3. No need to add the `--with-pinentry and also --with-doc`, as it screws up lpass installation.

[2019-10-10 19:17] #60 closed, assigned to nobody

[2019-10-15 11:13] ascandroli commented on #33
@tshaiman @yogipatel5 I just found the solution for that issue in #55

[2019-10-26 00:26] wcj3 commented on #54
@squatto Not sure what OS you're using but the steps above didn't work for me on macOS catalina

[2019-11-12 13:02] diegosantamarta commented on #54
@squatto doesn't work for me:

[code]

[2019-11-12 16:07] squatto commented on #54
@wcj3 @diegosantamarta I'm on Catalina now but I implemented that fix prior to upgrading. It's still working on Catalina - I'll check my workflow and see if anything has changed.

[2019-11-12 16:40] squatto commented on #54
@wcj3 @diegosantamarta

I enabled debug on the workflow and ran `lp test` and had this output:

[code]

I pressed `ctrl+enter` to trigger `lplogin` and had this debug output:

[code]

The `lplogin` process ran, asked me for my master password, and I am now logged in and able to search my vault. The second to last line of the `osascript` workflow step (what I referred to in [my initial comment](htt

[2019-11-13 13:43] diegosantamarta commented on #54
Hi @squatto I tell you my steps:
I enabled debug on the workflow and ran lp test and had this output:

[code]

I pressed ctrl+enter to trigger lplogin and had this debug output:

[code]

The lplogin process ran, asked me for my master password, and I am not logged in.

![image](https://user-images.githubusercontent.com/5568907/68768951-68c75900-061b-11ea-80e4-cb805d343c9c.png)

Not workin...

I'm

[2019-11-13 14:17] carceneaux commented on #54
@diegosantamarta Please make sure read @squatto's comment in full as he provides all the information you need to resolve this issue.

@wcj3 Like @squatto, I'm also running the latest version of the workflow (version 1.7.4), macOS Catalina 10.15.1, but on a 2019 MacBook Pro.

[2019-11-15 07:54] wcj3 commented on #54
@carceneaux @squatto Running the debug helped, was not aware of that. Turns out I just needed to follow the installation steps again in addition to the fix mentioned here

[2019-11-17 15:09] squatto commented on #54
@wcj3 I’m glad that you were able to get it resolved!

@diegosantamarta are you able to log in by running the `lplogin` workflow command? If not, I would recommend deleting the workflow completely, installing it again, and making the change to the osascript step.

[2019-11-19 16:41] dominikb commented on #57
I've had a similar issue but with a different cause.

As juniuspan, I first verified, that the login was possible using the lpass cli tool.

Whenever I tried to login I recieved the following error:
[code]

I changed the last paragraph of the script from:
[code]

to

[code]

and the login suddenly worked correctly.

[2019-11-23 15:25] crs1138 opened #61 "I can't login with 2-step-auth"
## My setup

* macOS:  10.15.1
* Alfred: 4.0.6
* Lastpass Workflow: 1.4.7
* lpass --version: v1.3.3.GIT

## My Problem

I have a problem logging in LastPass using the workflow.

### Further details

The dialogue box for password did not originally appear. I've made changes to the `lplogin script` according to [squatto's comment](https://github.com/stuartcryan/lastpass-alfred-workflow/issues/54#iss

[2019-12-18 16:51] glassdimly commented on #54
So I just got a new mac, and lastpass cli wasn't working! Dammit! So I started googling, and then I found that I had submitted a PR. Hah. But there was an additional step, which I had to read through this thread to figure out again.

Here are my instructions to make this work for you or for future me:

Check out my forked repository, then the branch with the fix on it.
[code]
Install by double-cli

[2020-01-05 20:19] tonykaram1993 commented on #54
@glassdimly Your post helped me fix the issue. In my case all I had to was change "Aflred 3" to "Alfred 4" and it all worked, did not need to anything else. I had tried to use @squatto 's fix [here](https://github.com/stuartcryan/lastpass-alfred-workflow/issues/54#issuecomment-529069031) but it didn't work, yours did.

Cheers!

[2020-01-10 16:41] kzoran opened #63 "Catalina support"
Is there a plan to start support Catalina? I know its not listed, just wondering if there a plan to start supporting Catalina

[2020-03-06 22:56] coryfklein commented on #61
[squatto's comment](https://github.com/stuartcryan/lastpass-alfred-workflow/issues/54#issuecomment-529069031) helped me as well.

After that my problem was simply not noticing my MFA notification popping up on my phone, I was expecting to see some sort of dialog after entering my password on my laptop. But once I approved the MFA on my phone then the lastpass login on my Mac worked perfectly.

[2020-05-23 21:44] kimodonato commented on #63
Works fine for me on Catalina! What's your issue?

[2020-05-23 22:47] SoPat712 opened #64 "Weird login behavior on Catalina"
As said in Title, I'm on a Mac on Catalina version 10.15.3 and Alfred version 4.0.9[1142] and I'm having trouble logging in with the extension.

I ran the command `lpass ls`, and it gave me the right output. I also tried loggin in through the terminal with lpass login myemail@emailprovider.com.

This is debug output when `lplogin is run in alfred`

![image](https://user-images.githubusercontent.co

[2020-06-04 16:25] gberg927 commented on #64
#56  and #59 both seem to fix this issue. Definitely worth merging in, but you can manually edit the workflow to include this change.

[2020-06-23 23:04] avshyz commented on #64
same issue.

[2020-07-13 14:58] nathankoerschner commented on #64
I've been trying this, same setup as OP, no luck (same error message).

[2020-07-13 18:07] nathankoerschner commented on #54
@glassdimly Same success, #56 didn't work buy yours did! Thanks.

[2020-07-15 01:20] nathankoerschner commented on #54
Just got a new Mac, and the fix isnt working for me anymore. Whats new in this case is that when typing out `lp <query>` the option to search vault for <query> does not persist, and just gives my default Alfred search options. Any ideas @glassdimly ?

[2020-09-16 03:03] ysjiang4869 commented on #54
For me, there is two problem
1. This is my new mac, so I need to verify device through email, but I forget the email notification
2. I open the 2FA, so need to verify it, if your debug console show something like `ctrl+c to enter passcode` you better to open 2FA and enable or use cli to login by yourself.

[2020-09-30 07:42] phaberest commented on #64
Sounds like this repo has been abandoned. 😕

[2020-10-22 19:01] stacksjb opened #66 "Limit of 5 results?"
If I search an entry for which I have >5 matching results, only the first 5 are returned. Is there a way to increase this limit? I have an entry which doesn't show up until the 8th result (and it's not easy to search on since I have multiple logins for that site).

Thx!

[2020-11-10 15:33] premsurya commented on #64
Had the same issue and the fix listed above (#56 or #59 ) helped me solve the issue. Thanks a lot.

[2020-12-10 04:30] #64 closed, assigned to nobody

[2021-05-31 04:20] henrysha opened #67 "Update to work with alfred 4"
I had to manually update the lplogin script to work with alfred 4. Can this workflow be updated?

[2021-05-31 04:21] #67 closed, assigned to nobody

[2021-06-14 05:46] raffaelewylde opened #68 "Login issues"
Login Issue
I was having issues logging, getting the same timeout error I've seen mentioned in other issues. I started by deleting the workflow i had gotten from the Alfred forum over a year ago and cloned the gh repo. The timeout error is gone im getting this when i run lplogin in debug mode.

[01:42:11.108] ERROR: LastPass CLI[Run Script] 2845:2846: syntax error: Expected end of line but found “

[2021-07-13 05:29] marius-m commented on #68
I'm getting the same error when trying to log in. Trying to run on newest and freshly installed Mac Big Sur OS, with latest lpass (LastPass CLI v1.3.3.GIT).

It seems to me, this is a problem with the script itself and OS / Script syntax changes. However I'm really not that familiar with the script to fix it :(

[2021-07-16 09:31] rozling commented on #68
Possibly unrelated, but I was having issues where I could not login with `lp login` or directly on the command line with `lpass login`.

Implementing the workaround [here](https://github.com/lastpass/lastpass-cli/issues/604#issue-894502620) sorted it out for me.

[2021-08-06 10:52] Than-DE commented on #68
Also on MacOS Big Sur version 11.2.3 and getting the same error

[code]

I'm able to get the Lastpass CLI running in terminal but it really seems the script here is not optimised. If someone can fix this, I'd be very grateful.

Edit: I was able to find a workaround, luckily. You can set the master password manually in the terminal using the following commands:

[code]
🎉

[2021-11-18 18:43] tsgrissom commented on #68
So what's the solution here? I'm on Monterey and unable to login. I'm receiving the same error as above. I can login just fine through CLI but getting a syntax error in Alfred console.

[2021-12-30 00:05] devguydavid opened #71 "lpass binary not found"
With more recent versions of MacOS and homebrew the path to lpass has changed to /opt/homebrew/bin/lpass. The workflow doesn't look in this new path and fails to execute.

[2021-12-30 00:05] devguydavid commented on #71
Fixed in #70

[2021-12-30 20:53] Bethebosch commented on #71
Noob here.. I have this same error. Can you please let me know the steps to fix this? This is my error:   ERROR: LastPass CLI[Run Script] 2637:2649: execution error: De variabele lpass_binary is niet gedefinieerd. (-2753)

[2021-12-30 23:51] devguydavid commented on #71
Well, I do have this and a couple of other changes from PRs to this repo in my own fork at https://github.com/devguydavid/lastpass-alfred-workflow. Use at your own risk, but it works for me. :)

[2021-12-31 07:21] Bethebosch commented on #71
Hi David,

Thanks for your quick reply. This worked and I am now one step further. It asks for my Lastpass password, but no matter what I type, it pops back up asking for the password again. I don't see anything happening in the debugging window, until I cancel. Then it says ERROR: LastPass CLI[Run Script] 2571:2873: execution error: /Users/bbosch/Library/Application Support/Alfred/Alfred.alfredpr

[2022-01-03 15:23] benjaminhoffman commented on #68
same!  would love if this workflow was still supported!

[2022-01-03 15:24] benjaminhoffman commented on #71
I'm having similar issue. I don't mind using your fork @devguydavid but curious how to install it?  What steps changed in the installation process to tell alfred it should use your fork instead?

[2022-01-06 16:33] devguydavid commented on #71
@Bethebosch: Hmm, I don't know why that is happening. It sounds like it might be necessary to put some print debug statements in key locations to figure out what is going on.

[2022-01-06 16:34] devguydavid commented on #71
It is the same process. You should just be able to use the alfred workflow as I rebuilt it and checked it into the fork.

[2022-01-10 20:08] benjaminhoffman commented on #71
thanks @devguydavid ! it's working great. unfortunately, the LP functionality within Alfred is super lacking whereas 1Password has native support. i also contact LP support to see what type of product roadmap they have but the never responded :(

[2022-02-01 10:20] Latent-code commented on #54
What did you do to fix that issue? Im still getting the following error:
`ERROR: LastPass CLI[Run Script] 2637:2649: execution error: The variable lpass_binary is not defined. (-2753)`

I have changed from Alfred 3 to Alfred 4.

[2022-03-07 10:20] wxtry commented on #68
this can be fixed by updating the login script based on your alfred version.
If you have already installed the workflow, update the second last line of the login script, change `Alfred 3` to `Alfred 4`(or any other version you are currently using)

[2022-04-28 13:58] mikeohara commented on #54
@Latent-code The fix I found involved editing the osascript and adding

in the tell application Finder block near the bottom of the file. Seems in newer versions of brew installs to a different location.

[2022-05-03 19:47] jzadra commented on #54
This fixed it for me!  Alfred 4.6.5

[2022-05-15 18:20] janegilring commented on #68
I didn`t work here for some reason, but I tried the fork mentioned in #71 - that worked well.

[2022-05-17 14:56] wiggins-philip opened #72 "Error when trying to login"
`[09:54:34.968] LastPass CLI[[Keyword](alfredpreferences:workflows%3Eworkflow%3Euser.workflow.0EB66CDE-DA23-47C9-B87D-34078DDC8826%3E01DFFE0F-13AB-4E19-AC39-8E2177548224)] Passing output '' to [Run Script](alfredpreferences:workflows%3Eworkflow%3Euser.workflow.0EB66CDE-DA23-47C9-B87D-34078DDC8826%3ED21298B3-763D-48F9-A804-C3B06D3B70E7)
[09:54:35.117] ERROR: LastPass CLI[[Run Script](alfredpreferen

[2022-10-12 14:59] agent-kimbley opened #74 "Discount sale my lastpass premium account"
The account lastpass premium expires on a half 2026,The account security information could totally customs for buyer.If you want it contact me discord (666666#8331) or comment.